* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #111827;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #7c3aed;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3a8a, #7c3aed);
}

/* Left Side */
.hero-left {
    width: 50%;
}

.hero-left h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-left span {
    color: #facc15;
}

.hero-left h2 {
    margin-bottom: 15px;
    font-weight: normal;
}

.hero-left p {
    margin-bottom: 25px;
    font-size: 18px;
    color: #e5e7eb;
}

/* Button */
.btn {
    padding: 14px 30px;
    background: white;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #facc15;
}

/* Right Side */
.hero-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img {
    width: 320px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

/* SECTIONS */
.section {
    padding: 80px;
    text-align: center;
}

.section h2 {
    margin-bottom: 40px;
    font-size: 35px;
}

.dark {
    background: #111827;
}

/* SKILLS */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background: #1e293b;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.skill:hover {
    background: #7c3aed;
}

/* PROJECTS */
.project-card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    background: #7c3aed;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
}