* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #111827;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #7c3aed;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3a8a, #7c3aed);
}

/* Left Text */
.hero-text {
    width: 50%;
    color: white;
}

/* Main Heading */
.hero-text h1 {
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 1.2;
}

/* Highlight your name */
.highlight {
    color: #facc15;   /* Premium gold */
}

/* Sub heading */
.hero-text h2 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
    opacity: 0.95;
}

/* Description */
.hero-text p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 500px;
    opacity: 0.9;
}

/* Right Image */
.hero-image {
    width: 40%;
    display: flex;
    justify-content: center;
}

.profile-img {
    width: 300px;       /* Control size */
    height: 350px;      /* Fixed height */
    object-fit: cover;  /* Crop properly */
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
/* SECTIONS */
.section {
    padding: 80px;
    text-align: center;
}

.section h2 {
    margin-bottom: 40px;
    font-size: 35px;
}

.dark {
    background: #111827;
}

/* SKILLS */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background: #1e293b;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.skill:hover {
    background: #7c3aed;
}

/* PROJECTS */
.project-card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    background: #7c3aed;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
}
.btn {
    display: inline-block;
    padding: 14px 28px;
    background: #ffffff;
    color: #1e3a8a;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

/* Hover Effect */
.btn:hover {
    background: #facc15; /* Gold highlight */
    color: #000;
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.4);
}