* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f172a;
    color: white;
    scroll-behavior: smooth;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #111827;
    position: sticky;
    top: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #7c3aed;
}

/* Hero */
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #0f172a, #1e3a8a, #7c3aed);
}

.hero-content {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 22px;
    margin-bottom: 25px;
    color: #cbd5e1;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    width: 250px;
    height: 250px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.profile-card:hover {
    transform: scale(1.05);
}

.btn {
    padding: 14px 30px;
    background: white;
    color: #111827;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #7c3aed;
    color: white;
}

/* Sections */
.section {
    padding: 80px 60px;
    text-align: center;
}

.section h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

.dark {
    background-color: #111827;
}

/* Cards */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    background-color: #1e293b;
    padding: 25px;
    border-radius: 15px;
    min-width: 220px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #7c3aed;
}

.project h3 {
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #0f172a;
}