* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #0f172a;
    color: white;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 80px;
    background: #111827;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #7c3aed;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3a8a, #7c3aed);
}

/* Left Text */
.hero-text {
    width: 50%;
    color: white;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

.hero-text p {
    margin-bottom: 20px;
}

/* Right Image */
.hero-image {
    width: 40%;
    display: flex;
    justify-content: center;
}

.profile-img {
    width: 300px;       /* Control size */
    height: 350px;      /* Fixed height */
    object-fit: cover;  /* Crop properly */
    border-radius: 20px;
    border: 4px solid white;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}
/* SECTIONS */
.section {
    padding: 80px;
    text-align: center;
}

.section h2 {
    margin-bottom: 40px;
    font-size: 35px;
}

.dark {
    background: #111827;
}

/* SKILLS */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background: #1e293b;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.skill:hover {
    background: #7c3aed;
}

/* PROJECTS */
.project-card {
    background: #1e293b;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    transition: 0.3s;
}

.project-card:hover {
    background: #7c3aed;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #0f172a;
}